$myWhite: rgb(244, 238, 255);
$myPurple: rgb(220, 214, 247);
$myLilac: rgb(166, 177, 225);
$myBlue: rgb(66, 72, 116);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.popup {
  position: relative;
  display: inline-block;
  .popup-text {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    font-size: small;
    text-align: center;
    border-radius: 8px;
    background-color: grey;
    padding: 8px;
    width: 100px;
    bottom: 100%;
  }
  .show {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    visibility: visible;
  }
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: $myPurple;
    color: black;
    border-radius: 8px;
    padding: 8px;
  }
}
.list-item {
  background-color: $myPurple;
  text-transform: uppercase;
  border: 0;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 4px;
}

.list-item > button {
  border-radius: 8px;
  align-self: center;
  border: 0;
  background-color: $myLilac;
  margin-right: 8px;
  color: white;
}
.list-item > button:hover {
  background-color: $myBlue;
  color: white;
}
.list-item > p {
  color: black;
  border: 0;
  margin: 0;
  align-self: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list-container {
  background-color: $myWhite;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding: 4px;
  border-radius: 8px;
}
.form {
  font-family: sans-serif;
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 4px;

  label {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4px;
  }

  button {
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 8px;
    background-color: $myBlue;
    color: white;
    font-weight: bold;
  }
  button:hover {
    background-color: $myLilac;
  }

  input {
    text-transform: uppercase;
    border-radius: 8px;
    padding: 8px;
    border: 0;
  }
}
